<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {route:'product.css', main:'main.css',
  title:'Detalle'})%>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="main-detail">
      <section class="section__product-detail">
        <article class="article__image-section">
          <img
            class="image-section__image"
            src="/public/img/products/<%=product.image%>"
            alt=""
          />
        </article>
        <article class="article__detail">
          <h2 class="detail__title"><%= product.name %></h2>
          <a
            href="/product/category/<%=product.idcategory%>"
            class="detail__category"
            ><%= product.category %></a
          >
          <p class="detail__description"><%= product.description %></p>
          <p class="id__product">ID para referencias: <span class="product__id"><%=product.id%></span></p>
          <div class="detail__bottom">
            
            <% if (product.discount > 0 ) { %>
            <h4 class="detail__price--original">$<%= product.price %></h4>
            <h3 class="detail__price">
              $<%= product.finalPrice %>
              <span class="detail__discount">%<%= product.discount %></span>
            </h3>
            <%} else {%>
            <h3 class="detail__price">$<%= product.price %></h3>
            <%} %>
              <button class="detail__button" <%=ableToAdd ? "" : "disabled" %>>
                Agregar al carrito
              </button>
              <p class=<%=ableToAdd ? "message_disabled" : "message_enabled" %>>Debe iniciar sesion</p>
         
          </div>
        </article>
      </section>
      <section class="section">
        <div class="section__title__wrapper">
          <h2 class="section__title">Recomendados</h2>
          <a href="/product/inSale">
            <button class="section__button">ver todas</button>
          </a>
        </div>
        <div class="section__products">
          <!-- product list -->
          <%- include('../partials/product_list', {data:productsRelated}) %>
          <a href="/product/category/<%=product.idcategory%>">
            <div class="products__button">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </a>
        </div>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
  <script src="/public/js/addProductToCart.js"></script>
</html>
