<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {route:'product.css', main:'main.css',
  title:'Detalle'})%>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="main-detail">
      <section class="section__product-detail">
        <article class="article__image-section">
          <img
            class="image-section__image"
            src="/public/img/products/<%=product.image%>"
            alt=""
          />
        </article>
        <article class="article__detail">
          <h2 class="detail__title"><%= product.name %></h2>
          <a
            href="/product/category/<%=product.idcategory%>"
            class="detail__category"
            ><%= product.category %></a
          >
          <p class="detail__description"><%= product.description %></p>
          <p class="id__product">ID para referencias: <span class="product__id"><%=product.id%></span></p>
          <div class="detail__bottom">
            <p class="detail__rating">
              <i class="fa-regular fa-star"></i><%= product.rating %>/5
            </p>
            <% if (product.discount > 0 ) { %>
            <h4 class="detail__price--original">$<%= product.price %></h4>
            <h3 class="detail__price">
              $<%= product.finalPrice %>
              <span class="detail__discount">%<%= product.discount %></span>
            </h3>
            <%} else {%>
            <h3 class="detail__price">$<%= product.price %></h3>
            <%} %>
            <form class="button__container" action="/product/addToCart/<%=product.id%>" method="POST">
              <button class="detail__button" <%=ableToAdd ? "" : "disabled" %>>
                Agregar al carrito
              </button>
              <p class=<%=ableToAdd ? "message_disabled" : "message_enabled" %>>Debe iniciar sesion</p>
            </form> 
          </div>
        </article>
      </section>
      <section class="section__suggestions">
        <h2 class="suggestions__title">Sugerencias basadas en este articulo</h2>
        <div class="section__products">
          <!-- product list -->
          <%- include('../partials/product_list', {data:productsRelated}) %>
        </div>
      </section>
      <section class="section__comments"></section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
  <script src="/public/js/addProductToCart.js"></script>
</html>
