<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urban Funiture</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/143040bb16.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main>
      <section class="card-body">
        <div class="card-image">
          <img
            class="position-product"
            src="<%= product.image %>"
            alt="Producto"
          />
        </div>
        <div class="position-text">
          <h1><%= product.name %></h1>
          <p><%= product.description %></p>
          <div class="seleccion-color">
            <div class="color rojo activa"></div>
            <div class="color azul"></div>
            <div class="color verde"></div>
          </div>
          <h2 class="number-price"><%= product.finalPrice %></h2>
          <button class="button-add-to-cart">
            <i class="fa-solid fa-cart-plus"></i> Agregar
          </button>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
