<section class="section__navbar">
  <div class="section__logo">
    <h2 class="logo__top">URBAN</h2>
    <h3 class="logo__bottom">FURNITURE</h3>
  </div>
  <article class="article__items">
    <div class="items__group <%= url == '/' ? 'items__group--active' : null %>">
      <a class="a__item" href="/admin">
        <i class="fa-solid fa-house"></i>
        <p class="item__title">Inicio</p>
      </a>
    </div>
    <div
      class="items__group <%= url.includes('/products') ? 'items__group--active' : null %> <%= url.includes('/product') ? 'items__group--active' : null %>"
    >
      <a href="/admin/products" class="a__item">
        <i class="fa-solid fa-couch"></i>
        <p class="item__title">Productos</p>
      </a>
    </div>
    <div
      class="items__group <%= url == '/users' ? 'items__group--active' : null %>"
    >
      <a href="/admin/users" class="a__item">
        <i class="fa-solid fa-users"></i>
        <p class="item__title">Usuarios</p>
      </a>
    </div>

    <div class="items__group <%= url == '#' ? 'items__group--active' : null %>">
      <a href="http://localhost:3000" class="a__item">
        <i class="fa-brands fa-react"></i>
        <p class="item__title">React</p>
      </a>
    </div>

    <div class="items__group">
      <a href="/" class="a__item">
        <i class="fa-solid fa-arrow-left-long"></i>
        <p class="item__title">Volver</p>
      </a>
    </div>
  </article>
</section>
