<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('../partials/head', {route:'home.css', main:'main.css',
  title:'Inicio'})%>
  <body>
    <!-- navbar -->
    <%- include ('../partials/navbar.ejs') %>
    <!-- main-->
    <main class="main">
      <section class="section__header">
        <article class="header__text">
          <h1 class="header__title">
            Encuentra los<br />
            mejores muebles <br />al mejor precio
          </h1>
          <p class="header__parragraph">
            En nuestra tienda podras encontrar una gran variedad de productos
            que se adecuen a tu gusto de manera facil, rapida y comoda
          </p>
          <form action="/product/search" class="header__form">
            <input
              name="keywords"
              class="form__input"
              type="text"
              placeholder="Buscar productos..."
              id="search"
            />
            <button class="form__button">Buscar</button>
          </form>
        </article>
        <article class="header__image">
          <img
            class="image__item"
            src="/public/img/products/product-2.png"
            alt=""
          />
          <img
            class="image__floor"
            src="/public/img/backgrounds/background.png"
            alt=""
          />
        </article>
      </section>

      <!-- in-sale section -->
      <section class="section">
        <div class="section__title__wrapper">
          <h2 class="section__title">Nuestras ofertas</h2>
          <a href="/product/inSale">
            <button class="section__button">ver todas</button>
          </a>
        </div>
        <div class="section__products">
          <!-- product list -->
          <%- include('../partials/product_list', {data:inSaleProducts}) %>
          <a href="/product/inSale">
            <div class="products__button">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </a>
        </div>
      </section>

      <!-- last-products section -->
      <section class="section">
        <div class="section__title__wrapper">
          <h2 class="section__title">Ultimas cargas</h2>
          <a href="/product">
            <button class="section__button">ver todas</button>
          </a>
        </div>
        <div class="section__products">
          <!-- product list -->
          <%- include('../partials/product_list', {data:latestProducts}) %>
          <a href="/product">
            <div class="products__button">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </a>
        </div>
      </section>
      <!-- info -->
      <section class="section__information">
        <article class="information__item">
          <img src="/public/img/icons/credit-card.png" alt="" />
          <h3 class="information__title">Hasta 24 cuotas</h3>
          <p class="information__description">
            Visa, Mastercard, Amex, Mercado Pago.
          </p>
        </article>
        <article class="information__item">
          <img src="/public/img/icons/delivery.png" alt="" />
          <h3 class="information__title">Envio a todo el país</h3>
          <p class="information__description">
            A todo el país en tiempo record.
          </p>
        </article>
        <article class="information__item">
          <img src="/public/img/icons/list.png" alt="" />
          <h3 class="information__title">Entrega inmediata</h3>
          <p class="information__description">
            Disponibilidad de stock permanente.
          </p>
        </article>
        <article class="information__item">
          <img src="/public/img/icons/phone.png" alt="" />
          <h3 class="information__title">Venta telefonica</h3>
          <p class="information__description">
            Tel. 4631-2022 Lun a Sab de 10 a 20hs.
          </p>
        </article>
      </section>
    </main>

    <!-- footer -->
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
