<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('../partials/head', {route:'home.css', main:'main.css',
  title:'Inicio'})%>
  <body>
    <!-- navbar -->
    <%- include ('../partials/navbar.ejs') %>
    <!-- main-->
    <main>
      <!--carrousel-->
      <div class="carrousel">
        <div class="carrousel__container">
          <img
            src="./img/backgrounds/background-2.jpg"
            alt=""
            class="carrousel__image"
          />
          <img
            src="./img/backgrounds/background-1.jpg"
            alt=""
            class="carrousel__image"
          />
          <img
            src="./img/backgrounds/background-4.jpg"
            alt=""
            class="carrousel__image"
          />
          <img
            src="./img/backgrounds/background-5.jpg"
            alt=""
            class="carrousel__image"
          />
          <img
            src="./img/backgrounds/background-6.jpg"
            alt=""
            class="carrousel__image"
          />
          <img
            src="./img/backgrounds/background-3.jpg"
            alt=""
            class="carrousel__image"
          />
        </div>
        <ul class="carrousel__control">
          <li class="control control--active"></li>
          <li class="control"></li>
          <li class="control"></li>
          <li class="control"></li>
          <li class="control"></li>
          <li class="control"></li>
        </ul>
      </div>

      <!-- in-sale section -->
      <section class="section">
        <h2 class="section__title">Nuestras ofertas</h2>
        <button class="section__button">ver todas</button>
        <div class="section__products">
          <!-- product list -->
          <%- include('../partials/product_list', {data:data, mode:'user'}) %>
          <div class="products__button">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </section>

      <!-- last-products section -->
      <section class="section">
        <h2 class="section__title">Ultimas publicaciones</h2>
        <button class="section__button">ver todas</button>
        <div class="section__products">
          <!-- product list -->
          <%- include('../partials/product_list', {data:data, mode:'user'}) %>
          <div class="products__button">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </section>

      <section class="card-redirect-wrapper">
        <a href="./users/register">
          <article class="card-redirect">
            <img src="./img/backgrounds/background-3.jpg" alt="" />
            <div class="card-redirect-content">
              <h2>Venta mayorista</h2>
              <p>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>REGISTRATE
              </p>
            </div>
          </article>
        </a>
        <a href="./contact">
          <article class="card-redirect">
            <img src="./img/backgrounds/background-6.jpeg" alt="" />
            <div class="card-redirect-content">
              <h2>Proyectos a medida</h2>
              <p><i class="fa-solid fa-paper-plane"></i>ESCRIBINOS</p>
            </div>
          </article>
        </a>
      </section>

      <section class="datos-empresa">
        <article class="dato">
          <i class="fa-solid fa-credit-card"></i>
          <h2>HASTA 24 CUOTAS</h2>
          <p>Visa, Mastercard, Amex, Mercado Pago.</p>
        </article>
        <article class="dato">
          <i class="fa-solid fa-truck-fast"></i>
          <h2>ENVIOS A TODO EL PAÍS</h2>
          <p>A todo el país en tiempo record.</p>
        </article>
        <article class="dato">
          <i class="fa-solid fa-list-check"></i>
          <h2>ENTREGA INMEDIATA</h2>
          <p>Disponibilidad de stock permanente.</p>
        </article>
        <article class="dato">
          <i class="fa-solid fa-phone"></i>
          <h2>VENTA TELEFÓNICA</h2>
          <p>Tel. 4631-2022 Lun a Sab de 10 a 20hs.</p>
        </article>
      </section>
    </main>

    <!-- footer -->
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
