<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <body>
    <%- include('../partials/navbar_dashboard.ejs') %>
    <section class="section__content">
      <article class="article__editHeader">
        <div class="editHeader__icon">
          <i class="fa-solid fa-pen"></i>
        </div>
        <div class="editHeader__text">
          <h2 class="editHeader__title">Estas modificando el producto:</h2>
          <p class="editHeader__subtitle"><%=product.name%></p>
        </div>
      </article>
      <article class="article__formEdit">
        <form
          id="formAgregar"
          action="/admin/products/update/<%=product.id%>?_method=PUT"
          method="POST"
        >
          <div class="form__group">
            <div class="input__field">
              <label for="name">Nombre</label>
              <input
                type="text"
                class="form__input"
                name="name"
                id="name"
                value="<%= product.name %>"
              />
              <p class="text-danger--edit name"></p>
            </div>
            <div class="input__field">
              <label for="price">Precio</label>
              <input
                id="price"
                type="number"
                class="form__input"
                name="price"
                value="<%=product.price%>"
              />
              <p class="text-danger--edit price"></p>
            </div>
          </div>
          <div class="form__group">
            <div class="input__field">
              <label for="discount">Descuento</label>
              <input
                id="discount"
                type="number"
                class="form__input"
                name="discount"
                value="<%=product.discount%>"
              />
              <p class="text-danger--edit discount"></p>
            </div>
            <div class="input__field">
              <label for="category">Categoria</label>
              <select name="categories_idcategories" id="categories" class="form__input">
                <option value="">Elegir una categoria</option>
                <% categories.forEach(category => { %>
                <option value="<%=category.idcategories%>" <%= category.nombre == product.category ? "selected" : null %>>
                  <%=category.nombre%>
                </option>
                <% }) %>
              </select>
              <p class="text-danger--edit categories"></p>
            </div>
          </div>
          <div class="form__images">
            <label for="image" class="form__label--image">
              <img
                src="/public/img/icons/upload.png"
                alt="image"
                class="image__upload"
              />
              Haz click para cargar tu imagen
            </label>
            <input type="file" id="image" name="image" class="input__image" />
          </div>
          <div class="input__field">
            <label for="description">Descripción</label>
            <textarea name="description" id="description" rows="10" class="form__input">
<%=product.description%></textarea
            >
            <p class="text-danger--edit description"></p>
          </div>
          <button class="form__button">Modificar</button>
        </form>
        <a href="/admin/products/delete/<%=product.id%>" >
          <button class="form__button form__button--delete">Eliminar</button>
        </a>
      </article>
    </section>
  </body>
  <script src="/public/js/productEditValidation.js"></script>
</html>
