<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <body>
    <%- include('../partials/navbar_dashboard.ejs', {url : url}) %>
    <section class="section__content">
      <article class="card__group">
        <div class="card__resume">
          <div class="resume__information">
            <h2 class="information__quantity"><%=products.length%></h2>
            <h4 class="information__title">Cantidad de productos</h4>
          </div>
          <i class="fa-solid fa-boxes-stacked information__icon"></i>
        </div>
        <div class="card__resume">
          <div class="resume__information">
            <h2 class="information__quantity"><%=categories.length%></h2>
            <h4 class="information__title">Categorias</h4>
          </div>
          <i class="fa-solid fa-tag information__icon"></i>
        </div>
        <div class="card__resume">
          <div class="resume__information">
            <h2 class="information__quantity">12</h2>
            <h4 class="information__title">En oferta</h4>
          </div>
          <i class="fa-solid fa-percent information__icon"></i>
        </div>
      </article>

      <article class="product__header">
        <h2 class="header__title">Productos</h2>
        <button class="header__button" id="addProduct">
          <i class="fa-solid fa-plus"></i>Agregar producto
        </button>
      </article>

      <article class="article__modal">
        <div class="modal__body">
          <div class="modal__header">
            <i class="fa-solid fa-xmark close__icon"></i>
          </div>
          <form
            action="/admin/products"
            class="modal__form"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form__group">
              <input
                type="text"
                class="form__input"
                name="name"
                placeholder="Nombre del producto"
              />
              <input
                type="number"
                class="form__input"
                name="price"
                placeholder="Precio"
              />
            </div>
            <div class="form__group">
              <input
                type="number"
                class="form__input"
                name="discount"
                placeholder="Descuento"
              />
              <select name="categories_idcategories" id="" class="form__input">
                <option value="">Elegir una categoria</option>
                <% categories.forEach(cat => { %>
                <option value="<%=cat.dataValues.idcategories%>">
                  <%=cat.dataValues.nombre%>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="form__images">
              <label for="image" class="form__label--image">
                <img
                  src="/public/img/icons/upload.png"
                  alt="image"
                  class="image__upload"
                />
                Haz click para cargar tu imagen
              </label>
              <input type="file" id="image" name="image" class="input__image" />
            </div>
            <textarea
              name="description"
              id=""
              rows="10"
              class="form__input"
              placeholder="Descripción del producto"
            ></textarea>
            <button class="form__button">Agregar producto</button>
          </form>
        </div>
      </article>

      <article class="product__form">
        <form action="/admin/products/search" method="GET">
          <div class="input__group">
            <input type="text" class="search__input" name="keywords" />
            <button type="submit" class="search__button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <div class="form__filters">
            <div class="select__group">
              <label for="order" class="form__label">Ordenar</label>
              <select name="order" id="order" class="form__select">
                <option value="">Seleccionar orden</option>
                <option value="price">por precio</option>
                <option value="name">por nombre</option>
              </select>
            </div>
            <button type="submit" class="header__button">
              <i class="fa-solid fa-filter"></i>Filtrar
            </button>
          </div>
        </form>
      </article>
      <table class="table table--wide">
        <tr>
          <th><i class="fa-solid fa-align-left th__icon"></i></th>
          <th class="table__title">Imagen</th>
          <th class="table__title">Nombre</th>
          <th class="table__title">Precio</th>
          <th></th>
        </tr>
        <% for(let i = 0; i < products.length; i++) { %>
        <tr class="table__row">
          <td><%= products[i].id %></td>
          <td>
            <img
              src="/public/img/products/<%= products[i].dataValues.image %>"
              alt=""
              class="table__image"
            />
          </td>
          <td><%=products[i].name %></td>
          <td>$<%=products[i].price %></td>
          <td class="td__options">
            <a
              href="/admin/products/edit/<%=products[i].dataValues.idproducts%>"
            >
              <button class="table__buttons">
                <i class="fa-solid fa-pen"></i>
              </button>
            </a>
            <a
              href="/admin/products/delete/<%=products[i].dataValues.idproducts%>"
            >
              <button class="table__buttons">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </a>
          </td>
        </tr>
        <% } %>
      </table>
    </section>
    <script src="/public/js/adminProducts.js"></script>
  </body>
</html>
