<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {route:'forms.css', main:'main.css',
  title:'Iniciar sesión'})%>

  <body>
    <%- include('../partials/navbar_forms') %>

    <!-- Inicio del Main-->
    <main class="main-login">
      <div class="login-container">
        <i class="fa-solid fa-circle-user user-icon"></i>
        <form action="/users/login" method="POST" class="login-form">
          <h3 class="login-title">Bienvenido</h3>
          <div class="input-wrapper">
            <input
              type="email"
              name="email"
              class="login-input form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
							value="<%= locals.oldData ? oldData.email : null %>"
              placeholder="Correo electrónico"
            />
            <!-- <i class="fa-solid fa-user input-icon"></i> -->
            <% if (locals.errors && errors.email) { %>
              <div class="text-danger">
                <%= errors.email.msg %> 
              </div>
            <% } %>              
          </div>
          <div class="input-wrapper">
            <input
              type="password"
              name="password"
              class="login-input form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              placeholder="Contraseña"
            />
            <!-- <i class="fa-solid fa-lock input-icon"></i> -->
            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %>
              </div>
            <% } %>              
          </div>
          <input
            type="checkbox"
            class="form-check-input"
            name="remember-user"
          /><label class="label-remember-user">Recordarme</label>

          <div class="ingresar">
            <button class="login-button" type="submit">Ingresar</button>

            <a href="#"
              ><p class="recover-pass">¿Has olvidado tu contraseña?</p></a
            >
            <a href="/users/register"><p class="recover-pass">Registrate</p></a>
          </div>
        </form>
      </div>
    </main>
    <!-- Fin del Main-->

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
