<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {route:'forms.css', main:'main.css',
  title:'Registro'})%>

  <body>
    <%- include('../partials/navbar_forms') %>

    <!-- Inicio del Main-->
    <main class="main-login">
      <div class="login-container">
        <i class="fa-solid fa-circle-question user-icon"></i>
        <form action="/users/register" method="POST" class="login-form">
          <h3 class="login-title">Registrate</h3>
          <div class="input-wrapper">
            <input
              type="text"
              name="user"
              id="user"
              class="login-input form-control <%= locals.errors && errors.user ? 'is-invalid' : null %>"
              value="<%= locals.oldData ? oldData.user : null %>"
              placeholder="Nombre de usuario"
            />
            <!-- <i class="fa-solid fa-user input-icon"></i> -->
            <% if (locals.errors && errors.user) { %>
              <div class="text-danger">
                <%= errors.user.msg %> 
              </div>
            <% } %>            
          </div>
          <div class="input-wrapper">
            <input
              type="email"
              name="email"
              id="user-email"
              class="login-input form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
              placeholder="Correo electrónico"
							value="<%= locals.oldData ? oldData.email : null %>"
            />
            <!-- <i class="fa-solid fa-user input-icon"></i> -->
            <% if (locals.errors && errors.email) { %>
              <div class="text-danger">
                <%= errors.email.msg %>
              </div>
            <% } %>            
          </div>
          <div class="input-wrapper">
            <input
              type="password"
              name="password"
              id="password"
              class="login-input form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              placeholder="Contraseña"
            />
            <!-- <i class="fa-solid fa-lock input-icon"></i> -->
            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %>
              </div>
            <% } %>            
          </div>
          <div class="input-wrapper">
            <input
              type="password"
              name="password_confirm"
              id="password_confirm"
              class="login-input form-control <%= locals.errors && errors.password_confirm ? 'is-invalid' : null %>"
              placeholder="Confirmar contraseña"
            />
            <!-- <i class="fa-solid fa-lock input-icon"></i> -->
            <% if (locals.errors && errors.password_confirm) { %>
              <div class="text-danger">
                <%= errors.password_confirm.msg %>
              </div>
            <% } %>                  
          </div>

          <div class="ingresar">
            <button class="login-button" type="submit">Registrarme</button>
            <p class="recover-pass">Registrarme con</p>
            <div class="links-login">
              <a href="#"><i class="fa-brands fa-google"></i></a>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </form>
      </div>
    </main>
    <!-- Fin del Main-->

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
